.Navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
   /* border-bottom: 1px solid black; */
    margin-bottom: 1px;
    background: white;
}
hr{
    margin: 15px 60px;
}
.nav-logo{
    width: 60px;
   
}
.nav-profile{
    width: 75px;
}
@media (max-width:800px) {
    .Navbar{
        padding: 15px 30px;
    }
    .nav-logo{
        width: 150px;

    }
    .nav-profile{
        width: 60px;
    }
    hr{
        display: none;
    }
}