.repro{
display: flex;flex-direction: column;
align-items: center;
gap: 10px;
height: 90vh;
}
.repro h1{
color:#171717;
font-size: 50px;
font-weight: 600;
}
.repro hr{
    width: 200px;
    height: 6px;
    border-radius:10px;
    background: #252525;
}
.repro-item{
    margin-top: 50px;
    display: flex;
    gap: 30px;
}
@media (max-width:1280px) {
    .repro{
        height: 70vh;
    }
    .repro h1{
        font-size: 40px;
    }
    .repro hr{
        width: 160px;
        height: 4px;
    }
    .repro-item{
        gap: 20px;
        margin-top: 30px;
    }

}
@media (max-width:1024px) {
    .repro{
        height: 60vh;
    }
    .repro h1{
        font-size: 30px;
    }
    .repro hr{
        width: 120px;
        height: 3px;
    }
    .repro-item{
        gap: 15px;
        margin-top: 20px;
    }

}
@media (max-width:800px) {
    .repro{
        height: 50vh;
        gap: 6px;
    }
    .repro h1{
        font-size: 20px;
    }
    .repro hr{
        width: 100px;
        
    }
    .repro-item{
        gap: 5px;
       
    }

}
@media (max-width:500px) {
    .repro{
        height: 90vh;
    }
    .repro-item{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}